:root {
  --c-brand: #646cff;
  --c-brand-light: #747bff;
}

.demo-block .xl-button {
  margin: 0 10px 10px 0;
}

.c-status{
    display: inline-block;
}

.c-status + .c-status{
    margin-left: 16px;
}

.c-operate + .c-operate{
    margin-top: 16px;
}

.c-table-pagination table {
    display: table;
    margin: 0;
}

.c-table-pagination th, .c-table-pagination td{
    border: 0;
}
